@font-face {
    font-family: "NotoSansKrLight";
    font-style: normal;
    font-weight: 300;
    src: url("./NotoSansKR-Light.otf")
}

@font-face {
    font-family: "NotoSansKrRegular";
    font-style: normal;
    font-weight: 500;
    src: url("./NotoSansKR-Regular.otf")
}

@font-face {
    font-family: "NotoSansKrBold";
    font-style: normal;
    font-weight: 700;
    src: url("./NotoSansKR-Bold.otf")
}