.check-page-container {
    
    .container {
        
        .inner-container {
        
            .select-container {
                
                .select-wrap {
                    margin: 20px 0 20px 0;
                    .category-title {
                        font-size: 18px;
                        font-family: 'notoSansKrRegular';
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}
